* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .container-fluid {
  background-color: #0CA600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  background-color: none;
}
body ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-top: 3.5rem;
  margin-left: auto;
  font-size: 3.5rem;
  font-weight: bold;
  font-style: normal;
  list-style: none;
  padding: 0.5;
}
body li .nav-item {
  display: flex;
  flex-direction: row;
  margin: 0rem 5rem 0rem 10rem;
  min-width: 1rem;
  justify-content: center;
  margin-top: 2rem;
}
body .container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
body .barra-busqueda {
  display: flex;
  flex-direction: end;
  position: relative;
  top: 0rem;
  right: -5rem;
  padding: 0.5rem;
  background-color: none;
  cursor: pointer;
}
body input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: #d3d3d3;
}
body button {
  padding: 0.3rem;
  border-radius: 0.5rem;
}
body .navbar-toggler {
  margin-left: 1rem;
  margin-right: 30rem;
  border: none;
}
body .navbar-toggler-icon {
  width: 3.5rem;
}
body .navbar-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

body footer {
  background-color: rgb(170, 168, 168);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
body footer h3 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
body footer .iconosixf {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body footer .iconosai {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body .partidos .container {
  display: flex;
  align-content: center;
  border: solid 0.01rem rgb(207, 206, 206);
  box-shadow: 0.2rem 0.2rem 0.2rem rgb(207, 206, 206);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 60%;
  height: 0, 1%;
  margin-top: 4rem;
}
body .partidos .info-ficha {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0rem 0rem 0rem 0rem;
  position: relative;
}
body .partidos .equipo-1 {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0rem;
  width: 70%;
  position: relative;
}
body .partidos .equipo-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0rem;
  margin-right: 0rem;
  width: 70%;
  position: relative;
}
body .partidos .fecha-fecha1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 100%;
}
body .partidos ul {
  display: flex;
  flex-direction: row;
  margin: 2rem 2rem 3rem 2rem;
  width: 100%;
}
body .partidos div .nombre-1 {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}
body .partidos div .nombre-2 {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
}
body .partidos .fecha-fecha {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: -2rem;
}
body .partidos li p {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}
body .partidos li img {
  height: 8rem;
  width: 7rem;
}

body main .grid_estadios {
  display: grid;
  grid-template-columns: 60rem 60rem;
  grid-template-rows: 50.2rem 50.2rem;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  justify-content: center;
}
body main .ficha {
  border: solid 0.01rem rgb(206, 204, 204);
  border-radius: 1rem;
  background-color: rgb(218, 218, 218);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
body main .ficha img {
  border-radius: 1rem;
  width: 100%;
  height: 75%;
}
body main .informacion {
  display: flex;
}
body main .ficha h2 {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  margin-right: 4rem;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}
body main .capacidad {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
body main .capacidad h2 {
  font-size: 2rem;
  text-decoration: underline;
}
body main .capacidad ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1rem;
  margin-right: 8rem;
}
body main .capacidad li {
  font-size: 1.8rem;
}
body main .info {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  font-size: 0.5rem;
}
body main .info h2 {
  font-size: 2rem;
  text-decoration: underline;
}
body main .info ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1rem;
  margin-right: 15rem;
  margin-left: 0rem;
}
body main .info li {
  font-size: 1.5rem;
}

body main .equipos {
  width: 60rem;
  height: 65rem;
}
body main .equipos tr {
  display: flex;
  justify-content: space-around;
}
body main .equipos td {
  height: 13rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .equipos td p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
body main .equipos img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8rem;
  height: 7rem;
}
body main tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}
body main tbody tr:nth-child(even) {
  background-color: #a4fab9;
}

body main .clasificacion td {
  font-size: 3rem;
}
body main td strong {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
body main .clasificacion {
  display: flex;
  flex-direction: column;
}
body main tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}
body main tbody tr:nth-child(even) {
  background-color: #a4fab9;
}

html {
  font-size: 10px;
  /* 1rem = 10px */
}

body button {
  border: none;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  min-width: 0.5rem;
  color: black;
  font-family: sans-serif;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
body main .titulo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: black;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-right: 140rem;
  color: black;
  font-family: sans-serif;
}
body main h1 {
  font-size: 5rem;
}
body main h2 {
  font-size: 3.5rem;
  font-weight: bold;
}
body main h3 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
body main .noticia {
  background-color: rgb(255, 255, 255);
  max-width: 150rem;
  max-height: 30rem;
  display: flex;
  align-items: start;
  justify-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 2rem;
}
body main .noticia img {
  width: 40rem;
  margin-right: 3rem;
  border-radius: 1rem;
}
body main .noticia p {
  font-size: 2.5rem;
}
body main .noticias a {
  color: black;
  text-decoration: none;
}

@media (min-width: 1025px) {
  html {
    font-size: 7px;
    /* 1rem = 10px */
  }
  body header .nav-item {
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem 0rem 2rem;
    min-width: 1rem;
    justify-content: center;
    margin-top: 2rem;
  }
  body header .nav-link {
    margin-left: 5rem;
  }
  body header input {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: #d3d3d3;
  }
  body footer {
    background-color: rgb(170, 168, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  body footer .get-in-touch {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body footer label {
    font-size: 2rem;
  }
  main h1 {
    color: black;
    margin-top: 1rem;
    margin-left: 40rem;
    font-size: 3rem;
    color: black;
    font-family: sans-serif;
  }
  main h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  main h3 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  main .noticia {
    background-color: rgb(255, 255, 255);
    max-width: 80rem;
    max-height: 25rem;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 4rem;
    padding: 1rem;
  }
  .partidos .container {
    width: 80%;
  }
}
@media (min-width: 669px) and (max-width: 1024px) {
  html {
    font-size: 7px;
    /* 1rem = 10px */
  }
  header input {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: #d3d3d3;
  }
  header .nav-item {
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem 0rem 2rem;
    min-width: 1rem;
    justify-content: center;
    margin-top: 2rem;
  }
  header .nav-link {
    margin-left: 5rem;
  }
  header .barra-busqueda {
    margin-right: 6rem;
  }
  body footer {
    background-color: rgb(170, 168, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  body footer .get-in-touch {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body footer label {
    font-size: 2rem;
  }
  body main h1 {
    color: black;
    margin-top: 1rem;
    margin-left: 80rem;
    font-size: 3rem;
    color: black;
    font-family: sans-serif;
  }
  body main h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  body main h3 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  body main .noticia {
    background-color: rgb(255, 255, 255);
    max-width: 80rem;
    max-height: 25rem;
    display: flex;
    align-items: cen;
    justify-items: center;
    margin-top: 4rem;
    padding: 1rem;
  }
  body main .noticia p {
    font-size: 1.65rem;
  }
  body main .grid_estadios {
    display: grid;
    grid-template-columns: 70rem;
    grid-template-rows: 55rem;
    grid-row-gap: 4rem;
    justify-content: center;
  }
  body .partidos .container {
    width: 80%;
  }
  body .partidos .equipo-1 {
    width: 65%;
    position: relative;
  }
  body .partidos .equipo-2 {
    width: 50%;
    position: relative;
  }
  body .partidos .fecha-fecha1 {
    width: 80%;
  }
  body .partidos ul {
    margin: 1rem 1rem 2rem 1rem;
  }
  body .partidos .fecha-fecha {
    margin-top: 0rem;
  }
  body .partidos li p {
    margin-top: 1rem;
    font-size: 1.7rem;
  }
  body .partidos li img {
    height: 6rem;
    width: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 668px) {
  html {
    font-size: 5px;
    /* 1rem = 5px */
  }
  body header input {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: #d3d3d3;
  }
  body header .navbar-toggler {
    margin-left: 1rem;
    margin-right: 13rem;
    border: none;
  }
  body header .navbar-toggler-icon {
    height: 5rem;
  }
  body main {
    font-size: 1rem;
    min-width: 0.5rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin-bottom: 5rem;
  }
  body main h1 {
    justify-content: center;
    color: black;
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-left: 100rem;
    font-size: 4rem;
    color: black;
    font-family: sans-serif;
  }
  body main h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  body main h3 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  body main .noticia p {
    display: none;
  }
  body main .grid_estadios {
    display: grid;
    grid-template-columns: 70rem;
    grid-template-rows: 55rem;
    grid-row-gap: 4rem;
    justify-content: center;
  }
  body main .ficha h2 {
    margin-left: 1.5rem;
  }
  body main .capacidad {
    margin-left: 10rem;
  }
  body main .capacidad h2 {
    font-size: 2rem;
  }
  body main .capacidad li {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  body main .info h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  body main .info ul {
    margin-top: 0.3rem;
    margin-right: 18rem;
  }
  body main .info li {
    font-size: 1.8rem;
  }
  body .partidos .container {
    width: 80%;
  }
  body .partidos .equipo-1 {
    width: 50%;
    position: relative;
  }
  body .partidos .equipo-2 {
    width: 50%;
    position: relative;
  }
  body .partidos .fecha-fecha1 {
    width: 80%;
  }
  body .partidos ul {
    margin: 1rem 1rem 2rem 1rem;
  }
  body .partidos .fecha-fecha {
    margin-top: 0rem;
  }
  body .partidos li p {
    margin-top: 1rem;
    font-size: 1.7rem;
  }
  body .partidos li img {
    height: 6rem;
    width: 5rem;
  }
}/*# sourceMappingURL=styles.css.map */