@media (min-width:1025px){
    html {
        font-size:7px; 
        /* 1rem = 10px */
    }
    body {
        header {
            .nav-item {
                display: flex;
                flex-direction: row;
                margin: 0rem 0rem 0rem 2rem;
                min-width: 1rem;
                justify-content: center;
                margin-top: 2rem;
            }
            .nav-link {
                margin-left: 5rem;
            }
            .barra-busqueda {
                   display: flex;
                   flex-direction: end;
                   border:none;
                   position: auto;
                   top: 0rem;
                   margin-left: 3rem;
                   margin-right: 9rem;
                   padding: 0.5rem;
            }
            .contenedor input {
                display: flex;
                flex-direction: row;
                border: solid 0rem;
                border-radius: 1rem;
                width: 45rem;
                height: 4rem;
                padding: 1.5rem;
            }
        }
            // footer 
            footer {
                background-color: rgb(170, 168, 168);
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 1rem;
             .get-in-touch{
                display: flex;
                flex-direction: row;
                align-items: center;
             }
             label {
                font-size: 2rem;
             }
                    }
            // fin de footer
        }
                main{ 
                    h1 {
                        color: black;
                        margin-top: 1rem;
                        margin-left: 40rem;
                        font-size: 3rem;
                        color: black;
                        font-family: sans-serif;
                    }  
                    h2 {
                        font-size: 2rem;
                        font-weight: bold;
                        }
                    h3 {
                            margin-top: 1rem;
                            display: flex;
                            justify-content: center;
                        }
                    .noticia {
                            background-color: rgb(255, 255, 255);
                            max-width:80rem;
                            max-height: 25rem;
                            display: flex;
                            align-items: center;
                            justify-items: center;
                            margin-top: 4rem;
                            padding: 1rem;
                        }
                    }
                    .partidos {
                        .container {
                            width: 80%;
                        } 
                    }
        }
@media (min-width:669px) and (max-width:1024px){
    html {
        font-size:7px; 
        /* 1rem = 10px */
    }
    header {
        .nav-item {
            display: flex;
            flex-direction: row;
            margin: 0rem 0rem 0rem 2rem;
            min-width: 1rem;
            justify-content: center;
            margin-top: 2rem;
        }
        .nav-link {
            margin-left: 5rem;
        }
        .barra-busqueda {
               margin-right: 6rem;
        }
        .contenedor input {
            display: flex;
            flex-direction: row;
            border: solid 0rem;
            border-radius: 1rem;
            width: 25rem;
            height: 2.5rem;
            padding: 1.5rem;
        }
    }
    body {
         // footer 
         footer {
            background-color: rgb(170, 168, 168);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
         .get-in-touch{
            display: flex;
            flex-direction: row;
            align-items: center;
         }
         label {
            font-size: 2rem;
         }
                }
        // fin de footer
        main{ 
            h1 {
                color: black;
                margin-top: 1rem;
                margin-left: 80rem;
                font-size: 3rem;
                color: black;
                font-family: sans-serif;
            }  
            h2 {
                font-size: 2rem;
                font-weight: bold;
                }
            h3 {
                    margin-top: 1rem;
                    display: flex;
                    justify-content: center;
                }
            .noticia {
                    background-color: rgb(255, 255, 255);
                    max-width:80rem;
                    max-height: 25rem;
                    display: flex;
                    align-items: start;
                    justify-items: center;
                    margin-top: 4rem;
                    padding: 1rem;
    
                }
                .noticia p {
                    font-size: 1.65rem;
                }
                
            }
            .partidos {
                .container {
                    width: 80%;
                } 
                .equipo-1 {
                    width: 65%;
                    position: relative; 
                }
               
                .equipo-2{
                    width: 50%;
                    position: relative;
                }
                .fecha-fecha1 {
                    width: 80%;
                }
                ul {
                    margin: 1rem 1rem 2rem 1rem;
                }    
                .fecha-fecha {
                    margin-top: 0rem;
                }
            
                li p {
                    margin-top: 1rem;
                    font-size: 1.7rem;
                }
    
                li img {
                    height:6rem;
                    width: 5rem;
                }
            }
}
}
@media (min-width:320px) and (max-width:668px){
    html {
        font-size:5px; 
        /* 1rem = 5px */
    }
    body {
        header {  
            .container-fluid {
                background-color: #0CA600;
                display: flex;
                flex-direction: row;
                width: 100%;
                border-radius: 1rem;
            }
            .barra-busqueda {
                margin-right: 4.5rem;
                        }
              
            input {
                display: flex;
                flex-direction: row;
                border: solid 0rem;
                border-radius: 1rem;
                width: 15rem;
                height: 4rem;
                padding: 1.5rem;
            }
        }
        main{ 
            font-size: 1rem;
            min-width: 0.5rem;
            color: rgb(0, 0, 0);
            font-family: sans-serif;
            margin-bottom: 5rem;
    
            h1 {
                justify-content: center;
                color: black;
                margin-bottom: 3rem;
                margin-top: 1rem;
                margin-left: 100rem;
                font-size: 3rem;
                color: black;
                font-family: sans-serif;
            }  
            h2 {
                font-size: 2rem;
                font-weight: bold;
                }
            h3 {
                    margin-top: 1rem;
                    display: flex;
                    justify-content: center;
                }
            .noticia {
                    background-color: rgb(255, 255, 255);
                    max-width:80rem;
                    max-height: 25rem;
                    display: flex;
                    align-items: start;
                    justify-items: center;
                    margin-top: 4rem;
                    padding: 1rem;
    
                }
                .noticia img {
                    width: 25rem;
                    margin-right: 2rem;
                    border-radius: 1rem;
                }
                .noticia p {
                    font-size: 1.5rem;
                }
                .noticias a {
                    color: black;
                    text-decoration: none;
                } 
                .grid_estadios {
                    display: grid;
                    grid-template-columns: 60rem;
                    grid-template-rows: 45rem;
                    grid-row-gap: 3rem;
                    justify-content: center;
                   }
                .ficha h2 {
                    margin-left: 1.5rem;
                }
                .capacidad {
                    margin-left: 10rem;
                }
                .capacidad h2 {
                    font-size: 2rem;
                }
                .capacidad li {
                    font-size: 1.8rem;
        
                }
                .info h2{
                    font-size: 2rem;
                }
                .info ul {
                    margin-top: 0.3rem;
                    margin-right: 18rem;            
                }
                .info li {
                    font-size: 1.8rem;
                }  
            }
            .partidos {
                .container {
                    width: 80%;
                } 
                .equipo-1 {
                    width: 50%;
                    position: relative; 
                }
               
                .equipo-2{
                    width: 50%;
                    position: relative;
                }
                .fecha-fecha1 {
                    width: 80%;
                }
                ul {
                    margin: 1rem 1rem 2rem 1rem;
                }    
                .fecha-fecha {
                    margin-top: 0rem;
                }
            
                li p {
                    margin-top: 1rem;
                    font-size: 1.7rem;
                }
    
                li img {
                    height:6rem;
                    width: 5rem;
                }
            }
            
}
}
  
